<table>
  <thead>
    <tr>
      <th>Matches:
      </th>
    </tr>
  </thead>

<tbody><% prints.each do |results| %>
  <tr>
    <br><td><%= results %></td><br>
</tr>
<% end %>
</tbody></table>